.commonsection {
    display: flex;
    margin-top: 222px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;

    .deliversection {
        & h2 {
            color: #111112;
            font-size: 38px;
            line-height: 62px;
        }

        & p {
            color: #111112;
            font-size: 16px;
            line-height: 22px;
        }

        .coordinate {
            display: flex;
            width: 588px;
            justify-content: space-between;
            margin-top: 94px;

            #city {
                width: 345px;
                height: 58px;
                border: 1px solid #ADAEAF;
                border-radius: 22px;
                background: #FDFBFA;
                padding: 18px;
                font-size: 16px;
                line-height: 22px;
            }

            #nip {
                width: 223px;
                height: 58px;
                border: 1px solid #ADAEAF;
                border-radius: 22px;
                background: #FDFBFA;
                padding: 18px;
            }
        }

        .locate {
            display: flex;
            margin-top: 38px;
            width: 265px;
            justify-content: space-between;
            align-items: center;

            & button {
                width: 135px;
                height: 43px;
                background: #FFB21A;
                border-radius: 18px;
                color: white;
                border: none;
            }

            #aim {
                margin-left: 22px;
            }
        }
    }

    .word {
        display: flex;
        margin-top: 32px;
    }

    .name {
        margin-left: 70px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 222px;
            height: 58px;
            background: #F5F5F5;
            border-radius: 18px;
        }
    }
}