* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
}

.hero {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .midsection {
        & h1 {
            font-size: 72px;
            line-height: 74px;
        }
    }
}

.ordersection {
    max-width: 1440px;
    height: 381px;
    background: #e8edf2;
    border-radius: 100px;
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    #rightyellow {
        position: relative;
        bottom: 1025px;
    }

    #avacado {
        position: relative;
        bottom: 509px;
        right: 38px;
    }

    #kiwi {
        position: relative;
        left: 1035px;
        bottom: 1450px;
    }

    & h2 {
        position: absolute;
        bottom: 220px;
        left: 566px;
        font-size: 38px;
        line-height: 62px;
    }

    & p {
        font-size: 16px;
        line-height: 22px;
        position: absolute;
        bottom: 180px;
        left: 590px;
    }

    & button {
        color: white;
        width: 138px;
        height: 43px;
        background: #111112;
        border: none;
        border-radius: 18px;
        position: absolute;
        bottom: 90px;
        right: 44%;
    }
}

.questions {
    margin-top: 250px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    .question {
        display: flex;
        justify-content: space-between;
        width: 1440px;
        margin-top: 38px;
        margin-bottom: 25px;

        & h3 {
            font-size: 28px;
            line-height: 38px;
        }
    }

}

@media screen and (max-width: 900px) {
    .content {
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .thirdsection {
        display: flex;
        flex-direction: column;
        align-items: center;

        .diets {
            flex-direction: column;
        }
    }

    .commonsection {
        flex-direction: column;

        .deliversection {
            padding: 0 0 0 12px;
        }

        .coordinate {
            flex-direction: column;
            gap: 20px;

        }

        .word {
            flex-wrap: wrap;

            .name {
                margin-left: 10px;

                .title {
                    width: 100px;
                }
            }
        }
    }

    .ordersection {
        display: none;
    }

    .choosesection {
        flex-direction: column;

        .bigsection {
            gap: 20px;

            .number {
                flex-wrap: wrap;

                #aifon {
                    margin-right: 370px;
                }

                #chef-hat {
                    margin-right: 362px;
                }

                #deliver {
                    margin-right: 362px;
                }
            }
        }
    }

    .boxdiets {
        flex-wrap: wrap;
        gap: 20px;

        #line {
            display: none;
        }
    }

    .blogsection {
        .blog {
            display: none;
        }

        .rightside {
            .video {
                flex-direction: column;
                gap: 10px;
            }

            .watch {
                gap: 10px;
            }

        }
    }

    .questions {
        margin-top: 100px;

        .question {
            margin-top: 0;

            & h3 {
                font-size: 17px;
            }
        }

        #long-line {
            display: none;
        }

        #arrow {
            display: none;
        }
    }

    .footer {
        display: none;
    }

}